@model IEnumerable<PROJET.Models.Fournisseur>

@{
    ViewData["Title"] = "Index";
}
<br/><br/>
<h1>Notre liste de Fournisseurs </h1>

<p>
    <a asp-action="Create">Ajouter un nouveau fournisseur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FournisseurName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FournisseurName)
            </td>
            <td>
                   <button class="btn btn-secondary   btn-lg"> <a class="text-white"  asp-action="Edit" asp-route-id="@item.FournisseurID">Modifier</a></button>
                   <button class="btn btn-secondary   btn-lg"> <a class="text-white" asp-action="Details" asp-route-id="@item.FournisseurID">Détails</a> </button>
                    <button class="btn btn-secondary   btn-lg"> <a class="text-white"  asp-action="Delete" asp-route-id="@item.FournisseurID">Supprimer</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
